/*
----------- 
General Style
-------------
*/

// Typography
@import url('https://fonts.googleapis.com/css?family=Robote|Montserrat|Roboto+Condensed');
$font-family-sans-serif: "Noto serif", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// Colors
$border-color: #f8fafc;

$body-bg: #F6F6F6;  
$primary-color: #1754d1; //màu slide navi
$secondary-color: #bc7323;
$tertiary-color: #2b8786;
$default-color: #666666;
$light-dark: #333;
$back-to-top:#1754d1;   //màu back-to-top btn

$header-background: #bc7323;

$hover-color:#3490dc;

$iw-primary:#C9BEAA;
$iw-secondary:#A81D20;
$iw-gray:#5A5F64;

$primary: #bc7323;

$iwalk:#A81D20;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$ys-text:#FFEB95;
$ys-price:#A81D20;
$ys-head-card:#cabfab;
$ys-yellow:#FFEB95;
$ys-light:#FFF8F5;
$ys-red:#cabfab;
$iw-red:#bc7323;

/* Global settings */
$color-border: #eee;
$color-label: #aaa;
$font-default: 'Montserrat', sans-serif;
$font-bold: 'Montserrat', sans-serif;

/*
----------- 
Component Style
-------------
*/
$menu-max-height: 60px;
$menu-second-min-height: 50px;
$logo-max-height: 50px;

