body {
    font-size: 16px;
}

.ilv-header {
    background-color: $header-background;
    z-index: 9;
}


/* Global "table" column settings */
.product-image {
    float: left;
    width: 15%;
}

.product-details {
    float: left;
    width: 25%;
}

.product-price {
    float: left;
    width: 20%;
}

.product-quantity {
    float: left;
    width: 15%;
}

.product-removal {
    float: left;
    width: 10%;
}

.product-line-price {
    float: left;
    width: 15%;
    text-align: right;
}


/* This is used as the traditional .clearfix class */
.group:before,
.group:after {
    content: '';
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}


/* Apply clearfix in a few places */
.shopping-cart,
.column-labels,
.product,
.totals-item {
    @extend .group;
}


/* Apply dollar signs */
.product .product-price:after,
.product .product-line-price:after,
.totals-value:after {
    content: ' VND';
}


label {
    color: $color-label;
}

.shopping-cart {
    margin-top: -45px;
}


/* Column headers */
.column-labels {
    label {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $color-border;
    }

    .product-image,
    .product-details,
    .product-removal {
        text-indent: -9999px;
    }
}


/* Product entries */
.product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-border;

    .product-image {
        text-align: center;

        img {
            width: 100px;
        }
    }

    .product-details {
        .product-title {
            margin-right: 20px;
            font-family: $font-bold;
        }

        .product-description {
            margin: 5px 20px 5px 0;
            line-height: 1.4em;
        }
    }

    .product-quantity {}

    .remove-product {
        border: 0;
        padding: 4px 8px;
        background-color: #c66;
        color: #fff;
        font-family: $font-bold;
        font-size: 12px;
        border-radius: 3px;
        display: block;
        margin: 0 auto;
    }

    .remove-product:hover {
        background-color: #a44;
    }
}


/* Totals section */
.totals {
    .totals-item {
        float: right;
        clear: both;
        width: 100%;
        margin-bottom: 10px;

        label {
            float: left;
            clear: both;
            width: 79%;
            text-align: right;
        }

        .totals-value {
            float: right;
            width: 21%;
            text-align: right;
        }
    }

    .totals-item-total {
        font-family: $font-bold;
    }
}

.checkout {
    float: right;
    border: 0;
    margin-top: 20px;
    padding: 6px 25px;
    background-color: #6b6;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
}

.checkout:hover {
    background-color: #494;
}

/* Make adjustments for tablet */
@media screen and (max-width: 992px) {

    .remove-product {
        margin: 0 !important;
    }

    .shopping-cart {
        margin: 0;
        padding-top: 20px;
        border-top: 1px solid $color-border;
    }

    .column-labels {
        display: none;
    }

    .product-image {
        float: right;
        width: auto;

        img {
            margin: 0 0 10px 10px;
        }
    }

    .product-details {
        float: none;
        margin-bottom: 10px;
        width: auto;
    }

    .product-price {
        clear: both;
        width: 70px;
    }

    .product-quantity {
        width: 100px;
        float: none;

        input {}
    }

    .product-quantity:before {
        content: '';
    }

    .product-removal {
        width: auto;
        float: none !important;

    }

    .product-line-price {
        width: 70px;
        float: none;
    }

}


/* Make more adjustments for phone */
@media screen and (max-width: 350px) {



    .product-line-price {
        clear: left;
        width: auto;
        margin-top: 10px;
    }

    .product .product-line-price:before {
        content: '';
    }

    .totals {
        .totals-item {
            label {
                width: 60%;
            }

            .totals-value {
                width: 40%;
            }
        }
    }
}

.lable-btn {

    // Mixin for easier colors
    @mixin social-container($color) {
        border: unset;

        .social-cube {

            .front,
            .back {
                background: $color;
            }

            .bottom {
                background: darken(red, 10%);
            }
        }

        &:hover .social-cube {
            .bottom {
                background: red;
            }

            .front {
                background: lighten($color, 10%);
            }
        }
    }

    // Social container styles
    .social-container {
        position: relative;
        display: inline-block;
        width: 164px;
        height: 36px;
        perspective: 300px;
        font-size: 24px;
        margin: 8px;

        .social-cube {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transition: all 0.333s;
            transform: translateZ(-18px);

            .front,
            .bottom {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                transition: background 0.333s;
            }

            .front {
                transform: rotateX(0deg) translateZ(18px);
            }

            .bottom {
                transform: rotateX(-90deg) translateZ(18px);
            }
        }

        &:hover .social-cube {
            transform: translateZ(-18px) rotateX(90deg);
        }
    }

    // Custom colors
    $twitter-blue: #4099FF;
    $facebook-blue: #3b5998;
    $youtube-red: #CC181E;
    $github-gray: #767676;
    $dribbble-pink: #ea4c89;
    $codepen-gray: #191919;

    .social-container {
        &.twitter {
            @include social-container($twitter-blue);
        }

        &.facebook {
            @include social-container($facebook-blue);
        }

        &.youtube {
            @include social-container($youtube-red);
        }

        &.github {
            @include social-container($github-gray);
        }

        &.dribbble {
            @include social-container($dribbble-pink);
        }

        &.codepen {
            @include social-container($codepen-gray);
        }
    }
}

.owl-carousel {
    .owl-stage {
        display: flex;
    }

    .owl-item {
        display: flex;
        flex: 1 0 auto;
    }

    .caption {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
    }

    .flex-text {
        flex-grow: 1
    }

    .thumbnail {
        display: flex;
        flex-direction: column;
        margin: 0 15px;
    }
}

.button-animate {
    padding: 0.3em 1em;
    text-align: center;
    text-decoration: none;
    color: $secondary-color;
    border: 2px solid $secondary-color;
    display: inline-block;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        background-color: rgba(255, 255, 255, 0.5);
        height: 100%;
        width: 3em;
        display: block;
        position: absolute;
        top: 0;
        left: -4.5em;
        transform: skewX(-45deg) translateX(0);
        transition: none;
    }

    &:hover {
        background-color: $secondary-color;
        color: #fff;
        border-bottom: 1 solid darken($secondary-color, 10%);

        &:before {
            transform: skewX(-45deg) translateX(13.5em);
            transition: all 0.5s ease-in-out;
        }
    }
}

.cate-icon {
    img {
        width: 75px;
        height: 75px;
        object-fit: contain;
    }

}

.img-big-wrap {
    img {
        object-fit: contain;
    }
}

.input-group button {
    color: #191919;
}

/* Rating Star Widgets Style */
.rating-stars ul {
    list-style-type: none;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.rating-stars ul>li.star {
    display: inline-block;
    cursor: pointer;
}

.c-shop-product-details-2 .c-product-gallery>.c-product-gallery-content {
    height: 350px;
}

/* Idle State of the stars */
.rating-stars ul>li.star>i.fa {
    font-size: 2.5em;
    /* Change the size of the stars */
    color: #ccc
        /* Color on idle state */

}

/* Hover state of the stars */
.rating-stars ul>li.star.hover>i.fa {
    color: #F5A623
}

/* Selected state of the stars */
.rating-stars ul>li.star.selected>i.fa {
    color: #F5A623
}

.active-star {
    i {
        color: #F5A623
    }
}

.disible-star {
    i {
        color: #ccc
    }
}

.footer-area p {
    margin-bottom: 0px !important;
    color: #ffffff;
}

.fusion-text {
    hr {
        margin-bottom: 40px;
        border-color: #FA8B2E;
        width: 8%;
    }
}
.width-mc{
    width: max-content;
}