/*
  Theme Name: Iloostrap
  Author: The ILUVA Team
  Description: This theme built on top of Bootstrap 4. We will you BS4 naming convention with the prefix ilv- to customize element style. The purpose of this theme is aiming to simplify the modification process. Change the variable, change the style. 
*/

h1,
h2,
h3 {
    font-family: $secondary-font;
}

h4,
h5,
h6 {
    font-family: $secondary-font;
}

body {
    font-family: $secondary-font;
}

.ilv-navbar {
    max-height: $menu-max-height;
    border-bottom: 2px solid $border-color;
}

.ilv-navbar-second {
    padding-top: 0px;
    padding-bottom: 0px;

    // min-height: $;
    .container {
        height: $menu-second-min-height;
    }
}

.ilv-navbar-brand {
    img {
        max-height: $logo-max-height;
    }
}

.ilv-form-inline-square {
    .form-control {
        border: none;
        border-radius: 0px;
    }

    .btn {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}

.ilv-dropdown-hover.dropdown:hover>.dropdown-menu {
    display: block;
}

.ilv-dropdown-hover {
    .nav-link:hover>.dropdown-menu {
        display: block;
    }
}

.nav-item {

    &:hover,
    &:active {
        background-color: $primary;

        .nav-link {
            color: white !important;
        }

        border-radius: 2px;
    }

    transition: all cubic-bezier();
}

.ilv-dropdown-hover.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffff;
}

.ilv-navbar-collapse {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.ilv-font-weight-500 {
    font-weight: 500;
}

.ilv-widget-header {
    padding: 0 15px;
}

// Menu padding item
.ilv-navbar-collapse li.nav-item a.nav-link {
    padding: 0 15px;
}

.ilv-img-wrap {
    max-height: 270px;

    img {
        width: 100% !important;
    }
}

.ilv-btn {
    width: 140px;
    float: right;
}

.owl-carousel .thumbnail {
    margin: 0;
}

.card {
    box-shadow: 0px 2px 5px #eaeaea;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background-color: $secondary-color;
}

.nav-tabs .nav-item {
    width: 25%;
    text-align: center;
    padding: 0px;
}
.ilv-post-nav{
    a.nav-link.active{
        color: $secondary-color;
    }
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    color:#fff;
}
.owl-carousel .owl-item img{
    object-fit: contain;
}
