.ilv-hn-banner-style{
    display: flex;
    vertical-align:middle;
    max-width:100%;
    overflow: hidden;
    width:100%;
}

.ilv-hn-banner-img{
    height:250px;
    overflow:hidden;
    width:100%;
    img{
        width:100%;
    }
}
.ilv-hn-banner-title{
    position: absolute;
    text-align: center;
    width:100%;
    padding-top:5%;
}
.ilv-hn-banner-title-r1{
    color:$iw-red;
    letter-spacing: 9px;
}
.ilv-hn-banner-title-r2{
    color:white;
    letter-spacing: 3px;
}
.ilv-hn-widget-style{
    // background-color:#f4f8fb;
    background-color:$primary;

    padding: 30px 5%;
    // max-width:100%;
}
.ilv-hn-copyright-style{
    padding:10px 5%;
    background-color:#360E0E;
    // max-width:100%;
}
.ilv-hn-project-title-color{
    color: white;
    border-bottom: 1px solid #dae7f1;
    padding-bottom: 5px;
    text-shadow: 1px 1px 5px #360e0e;
}
.ilv-hn-pr-0{
    padding-right:0px;
}
.ilv-hn-pl-0{
    padding-left:0px;
}
.ilv-hn-custom-button-style{
    border-radius:0px;
    background-color: $iw-red;
    color:white;
    width:100%;
    height:100%;
    max-height:45px !important;
    border-color: #360E0E;
}
.ilv-hn-custom-input-style{
    border:1px solid #360E0E;
    width: 100%;
    height:100%;
    max-height:45px !important;
    padding-left:10px;
}
.ilv-pb-10{
    padding-bottom:10px;
}
.ilv-pt-10{
    padding-top:10px;
}
.ilv-pb-p-2{
    padding-bottom:2%;
}
.ilv-pt-p-2{
    padding-top:2%;
}
.ilv-pb-p-5{
    padding-bottom:5%;
}
.ilv-pt-p-5{
    padding-top:5%;
}
.ilv-pl-p-5{
    padding-left:5%;
}
.ilv-pr-p-5{
    padding-right:5%;
}
.ilv-pb-p-10{
    padding-bottom:10%;
}
.ilv-pt-p-10{
    padding-top:10%;
}
.ilv-pl-p-10{
    padding-left:10%;
}
.ilv-pr-p-10{
    padding-right:10%;
}
.ilv-hn-mr-15{
    margin-right:15px;
}
.ilv-hn-ml-15{
    margin-left:15px;
}

.footer-area{
    p{
        margin-bottom:0.4rem !important;
    }
}
.ilv-hn-text-align-c{
    text-align:center;
}
.ilv-hn-text-align-l{
    text-align:left;
}
.ilv-hn-text-align-r{
    text-align:right;
}
.ilv-hn-text-align-j{
    text-align:justify;
}
.ilv-hn-custom-logo-ft{
    max-width:100%;
    object-fit: contain;
}
// .ilv-hn-width-100{
//     width: 100%;
// }
.ilv-hn-custom-style-title-1{
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 3px;
}
.ilv-hn-custom-style-title-2{
    text-align: center;
    font-size: 2.3rem;
    font-weight: 600;
    color:$iw-red;
}
.ilv-hn-custom-style-title-3{
    font-size:1.5rem !important;
    font-weight: bold;
}
.ilv-hn-font-size-1-3-rem{
    font-size:1.3rem;
}
.ilv-hn-font-size-1-1-rem{
    font-size:1.1rem;
}
.ilv-hn-font-size-3-0-rem{
    font-size:3rem;
}
.ilv-hn-custom-style-text-1{
    font-size:12px;
    font-weight:300;
}
.back-to-top{
    position:fixed;
    bottom:10px;
    right:10px;
}
.ilv-hn-font-weight-500{
    font-weight: 500;
}
.ilv-hn-custom-style-ul li p{
    margin-bottom:0px;
}
.ilv-custom-style-col-image-year{
    img{
        object-fit: contain;
    }
    display: flex;
}
.ilv-hn-background-color-black{
    background-color: black;
}
.ilv-hn-custom-style-col-br-img-1{
    height: 300px;
    overflow: hidden;
    background-size:contain;
    background-repeat:no-repeat;
}
.ilv-hn-custom-position-text-1{
    p{
        margin-bottom:0px;
        line-height:1.3;
    }
    color: white;
    position: absolute;
    bottom: 20px;
    left: 30px;
}
.ilv-hn-custom-style-background{
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-color:#e6e6e6;
}
.ilv-hn-float-right{
    float:right;
}
@media only screen and (min-width: 768px){
    .ilv-hn-text-align-r{
        text-align:right;
    }
    .ilv-hn-r-pr-0{
        padding-right:0px;
    }
    .ilv-hn-r-pl-0{
        padding-left:0px;
    }
}
@media only screen and (max-width: 768px){
    .ilv-hn-text-align-md-c{
        text-align:center;
    }
    .ilv-hn-custom-style-background{
        height:800px;
    }
}
@media only screen and (min-width: 992px){
 .ilv-hn-display-none-col-lg *{
     display:none;
 }
}
@media only screen and (max-width: 992px){
    .ilv-hn-display-none-col *{
        display:none;
 }
    .ilv-hn-custom-style-background{
        height:1000px;
    }
    .ilv-hn-logo{
        max-width:200px !important;
    }
}
@media only screen and (max-width: 576px){
    .ilv-hn-custom-style-background{
        height:700px;
    }
    .ilv-hn-res-mb-0{
        margin-bottom:0px;
    }
}

@media only screen and (max-width: 576px){
    
}

@media only screen and (min-width: 991px) and (max-width:1106px){
    .leo-megamenu .navbar-nav-ivl > li > a{
        padding:59px 10px !important;
    }
}
