.ivl-mg-5 {
    margin: 5px;
}

.item {
    float: left;
    width: 100%;
}

.ilv-w-70pc {
    width: 70%;
}

.ilv-w-30pc {
    width: 30%;
}

.ivl-w-100pc {
    width: 100%;
}

.ivl-h-100pc {
    height: 100%;
}

.ilv-opt {
    &:not(.size-otp) {
        margin-top: 10px;
    }

    margin: 0px 5px 0px 5px;
}

.ivl-item-card {
    border: 1px solid #e0e5fa;

    position: relative;

    box-shadow: 0 0 3.92px .08px rgba(0, 0, 0, 0.16);

    border-radius: 6px;

    overflow: hidden;

    background: linear-gradient(#fff, #faf6e8);

    margin-bottom: 30px;

    text-align: center;

    h3 {
        font-weight: 600;

        font-size: 20px;

        margin-bottom: 5px;

        padding: 0 20px;

        a {
            color: #2F251D;
        }

        a:hover,
        a:active,
        a:focus {
            color: $hover-color;
            transition: 0.5s;
        }

    }
}

a:hover,
a:active,
a:focus {
    color: $hover-color;
    transition: 0.5s;
}

.section-header h2 {

    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}

.stars i {
    color: #ffc31d;
}

.stars {
    padding: 0 20px;
    margin-bottom: 5px;
}

.post {
    padding: 5px;

    p {
        text-align: left;
        margin-bottom: 20px;

        color: black;
        font-size: 18px;
    }
}

.c-position {
    p {
        text-align: center;
        margin-bottom: 20px;

        color: $ys-price;

        font-style: bold;

        font-size: 20px;
    }


    a {
        text-align: center;
    }

}

.ilv-mt-10 {
    margin-top: 10px;
}

.ilv-mb-10 {
    margin-bottom: 10px;
}

.ilv-mt-60 {
    margin-top: 60px;
}

.ivl-first {
    z-index: 999;
}

.ivl-ys-bg {
    background-color: $iwalk;
}

.ys-text-color {
    color: $ys-text;
}

.btn-ys {
    background-color: $iwalk;
}

.ilv-black-text {
    color: black;
}

.ilv-card-head {
    // background-color: $ys-head-card;
}

.ys-yellow-bg {
    background-color: $ys-red;
}

.ys-yellow-text {
    color: $ys-yellow;
}

.ilv-circle-20 {
    border-radius: 20px;
}

.ys-yl-border {
    border: solid 1px $ys-yellow;
    background-color: transparent;
}

.ys-or-text {
    color: black;
}

.ilv-bold {
    font-weight: bold;
}

.ilv-italic {
    font-style: italic;
}

.ilv-fs-40 {
    font-size: 40px;
}

.ilv-fs-21 {
    font-size: 21px;
}

.ilv-fs-25 {
    font-size: 25px;
}

.ilv-fs-28 {
    font-size: 24px;
}

.ilv-fs-18 {
    font-size: 18px;

}

.ilv-mb-60 {
    margin-bottom: 60px;
}

.ilv-mt-60 {
    margin-top: 60px;
}

.ilv-mg-10 {
    margin: 10px;
}

.detail-img {
    margin: 15px 0px 0px 15px;
}

.ivl-pd-8 {
    padding: 8px;
}

.ilv-text-center {
    text-align: center;
}

.ilv-text-middle {
    padding-top: 10%;

}

.ilv-white-text {
    color: #ffffff;
}

.ilv-bd-b {
    border-bottom: solid 1px #dee2e6;
}

#react-btn {
    display: inline-block;
}

.ilv-fs-18 {
    font-size: 18px;
}

.ilv-lh-25 {
    line-height: 25px;
}

.ys-light-bg {
    background-color: $ys-light;
}

.currency {
    font-weight: bold;
    color: $iw-primary;
    font-size: 20px;
}

.ilv-pd-10 {
    padding: 10px;
}

.breadcrumb {
    background-color: #f9f9f9;
}

.ilv-mw-200 {
    max-width: 200px;
}

.ilv-fs-14 a {
    font-size: 14px !important;
}

.navbar-lg-pd-0 {
    padding-bottom: 0px;
    padding-top: 0px;

    .sticky-logo {
        padding-bottom: 0px;
        padding-top: 0px;
    }
}

.ilv-swap-mb {
    order: 1;
}

.ilv-fs-16 {
    font-size: 16px;
}

.ilv-btn-green {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.ilv-red-cl {
    color: $ys-red;
}

.ilv-mt-200 {
    margin-top: 200px;
}

.ilv-mt-300 {
    margin-top: 300px;
}

.ilv-mt-100 {
    margin-top: 100px;
}

.ys-hv-yl:hover {
    color: $ys-yellow;
}

.sticky-logo img {
    max-width: 100px;
}

.ilv-mw-70-pc {
    max-width: 50%;
    max-height: 200px;
}

.ilv-gr-bg {
    background: linear-gradient(#faf6e8, #fff);
}

.iw-cl {
    a {
        color: #41444B;
        text-decoration: none;
    }

    a:focus {
        outline: none;
        text-decoration: none;
    }

    a:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    a:focus,
    a:hover {
        color: #CABFAB;
        text-decoration: underline;
    }

}

.ilv-fs-24 {
    font-size: 24px;
}

.iw-text-gray {
    color: $iw-gray;
}

.iw-text-sec {
    color: $iw-secondary;
}

.iw-bg-pri {
    background-color: $iw-primary;
}

.iw-bg-sec {
    background-color: $iw-secondary;
}

.iw-text-pri {
    color: $iw-primary;
}

.quantity {
    display: inline-flex;

    .qty {
        max-width: 40px;
    }
}

.modal-content {
    .currency {
        color: black;
    }
}

.ilv-hp-header {
    background: #282a3c;
}

.ilv-hp-color {
    color: #fff !important;
}

.ilv-promotion-price {
    text-decoration: line-through;
}

.ilv-relative-container {
    position: relative;
}

.ilv-absolute-item {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.ilv-color-tag {
    display: inline-block;
    height: 25px !important;
    width: 25px !important;
    border-radius: 2px;
    border:1px solid gray;
    margin-top:10px;
    margin: 0 auto;
}

.ilv-content {
    .tab-pane {
        padding: 20px 10px;
    }

    span {
        max-width: 100% !important;
        background: transparent;
    }

    img {
        max-width: 100% !important;
    }
}

.ilv-discount-price {
    text-decoration: line-through;
}

.iw-discount-value {
    background: #ff0000;

    color: white;

    font-weight: 600;

    padding: 5px 10px;

    font-size: 1rem;

    margin-left: 10px;

    text-transform: uppercase;

    display: inline-block;
}
.ilv-font-size-small{
    font-size:small;
}
.ilv-font-size-smaller{
    font-size:smaller !important;
}
.ilv-description{
    color:rgba(230, 230, 230,0.1) !important;
}
.ilv-table{
    border: #ccc solid 1px;
}

.ilv-center-block{
    display: block;
    margin: 0 auto;
}
.ilv-border-none{
    border: unset !important;
}
