//manage order
.ilv-table-text{
    color:#787878
}
.ilv-table{

    background: white;
}
.ilv-col-2, .ilv-col-1{
margin:5% 0;

}
.ilv-menu-left-active{
background:#ececec;
width: 85%;

}
.ilv-menu-left h6{
    padding:10px 10px;
}
  
.ilv-col-span{
            text-align: right;
}
.ilv-table-img{
            width: 60px;
            height: 80px;
            margin-top:-25px;
            vertical-align: top;
}
        