/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    //CSS

}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) {
    .ilv-mw-1000 {
        max-width: 1000px;
    }

    .header-area.stick {
        background-color: rgba(47, 37, 29, 0.6);
    }
    .nav-tabs{.nav-item{padding: 0px 15px;}}
    .nav-item{
        padding: 0px 15px;
    }


}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
@media (max-width: 992px) {

    /* small tablet devices */
    .slider-main .item-slide {
        height: auto;
    }

    .menu-category .submenu {
        max-width: 100%;
        left: 0;
        top: 100%;
    }

    .border-cols>[class*="col-"] {
        border-width: 0 0 1px 1px;
    }

}

@media (max-width: 767px) {
    .custom-mb-pd{
        .col-12{
            padding-top: 20px;
        }
    }
    .card-product .title p{
        height: unset;
    }
    .ilv-hn-custom-logo-ft{
        display: block;
        margin: 5px auto;
    }
    .nav-item{
        padding-top: 15px;
    }
    .ilv-promotion-price{
        display: none;
    }
    .ilv-mb-d-none{
        display: none;
    }
    .ilv-mb-text-justify{
        text-align: justify;
    }
    .ilv-detail-responsive{
        dt{
            width: 50%;
        }
        dd{
            width: 50%;
        }
    }
    .navbar {
        padding: 1rem;
    }

    .navbar-landing {
        transition: .5s;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .nav-item .btn {
        margin: 7px 0 !important;
    }

    .list-inline-item {
        vertical-align: middle;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .section-header .logo,
    .header-main .logo {
        max-height: 30px;
        width: auto;
    }

    .section-header .logo-text,
    .header-main .logo-text {
        font-size: 24px;
    }

    .section-header .brand-wrap,
    .section-header .search-wrap,
    .section-header .widget-header,
    .header-main .brand-wrap,
    .header-main .search-wrap,
    .header-main .widget-header {
        margin-bottom: 1rem;
    }

    .header-area.stick {
        opacity: 1;
        background-color: rgba(47, 37, 29, 1);
    }

    .ivl-bd-mb {
        border-bottom: solid 1px gray;
        margin-bottom: 2px;
        margin-top: 2px;
    }

    .ivl-center-mb {
        text-align: center;
    }

    .ilv-mh-420-mb {
        max-height: 420px;
        overflow: scroll;
    }

    .ilv-full-w-mb {
        width: 100%;
    }

    .media-checkout .quantity-checkout span {
        margin-bottom: 5px;
        margin-top: 5px;

    }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {

    //CSS

}
