a {
    color: $light-dark;
    &:hover {
        text-decoration: none;
        color: $light-dark;
    }
}

body {
    font-family: $secondary-font;
}

.ilv-title {
   font-family: $primary-font;
   font-weight: 700;
   padding: 10px 0; 
}
.banner-title{
    text-shadow: 2px 1px 3px #666;

}
.ilv-title-card {
    font-size: 1rem;
    line-height: 1.3rem;
    font-family: $primary-font;
    font-weight: 600;
    // text-transform: uppercase;
    &:hover {
        color: $ys-red;
    }
}
.ilv-text {
    font-family: $secondary-font;
}
.ilv-active {
    color: $primary !important;
    background-color: $body-bg;
    font-weight: bold;
}
.ilv-link-list {
    a {
        color: $blue;
        font-size: 1rem;
    }
}
.ilv-language-selector {
    min-width: auto;
}