.ie-search-var-item:hover {
  cursor: pointer;
  background-color: #e8cbee;
}

.ie-search-var-item img {
  border: 4px solid #ebedf2;
  border-radius: 4px;
}

.ie-search-var-wrapper {
  max-height: 500px;
  overflow-y: auto;
}

.ie-search-close {
  background-color: #F4F5F8;
}

.ie-search-close:hover {
  cursor: pointer;
}

.ie-off {
  display: none;
}

.ie-input-number span {
  min-height: 10px;
  min-width: 10px;
  border: 1px solid #ebedf2;
}

.ilv-draggable {
  min-height: 400px;
  width: 100%;
  padding: 20px;
}

.ilv-media-img-preview {
  border: 1px solid #ebedf2;
  border-radius: 2px;
}

.ilv-media-img-preview:hover {
  cursor: pointer;
}

.fixed-height {
  width: 100%;
  height: 300px;
}

.thumb-fixed-height {
  width: 100%;
  height: 83px;
}

.text-dark-inner button {
  color: black;
}

.custom-d-none {
  display: none;
}

.inner-d-none .fa-check {
  display: none;
}

.custom-input {
  width: 200px !important;
}

.ilv-media-img-thumb {
  position: relative;
  width: 145px;
  height: 145px;
  padding: 5px;
  background-color: #ebedf2;
  border: 1px solid #ebedf2;
  border-radius: 2px;
  display: inline-block;
  overflow: hidden;
}

.ilv-media-img-thumb:hover {
  cursor: pointer;
  background-color: #F4F5F8;
}

.ilv-media-img-thumb .ilv-chkbox {
  display: inline-block;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.29);
  position: absolute;
  top: 0px;
  right: 1px;
  color: #848484;
  background: #ffffff;
  line-height: 1;
  border-radius: 50%;
  cursor: pointer;
}

.ilv-media-img-thumb .ilv-chkbox .ilv-size {
  font-size: 1.3em;
}

.ilv-media-img-active {
  border: 4px solid #5867dd;
  border-radius: 4px;
}

.ilv-dragging {
  background-color: #5867dd;
  color: whitesmoke;
}

.ilv-dragging .ilv-media-browse {
  display: none;
}

.ilv-dragging .ilv-media-upload-icon {
  display: block;
}

.ilv-media-upload-icon {
  display: none;
}

.ilv-modal {
  position: fixed;
  z-index: 99999999999999999999999;
}

.ilv-modal .ilv-modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 99999999999999999999999;
  background-color: #202020;
  opacity: 0.8;
}

.ilv-modal .ilv-modal-content {
  position: fixed;
  z-index: 999999999999999999999999;
  top: 50px;
  left: 50%;
  height: 90vh;
  max-height: 90vh;
  overflow: auto;
  width: 90vw;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 2px;
  background-color: #F4F5F8;
}

.ilv-modal .ilv-modal-content .m-portlet__body {
  min-height: 100% !important;
}

.nav-link:hover {
  cursor: pointer;
}

.ilv-fill {
  background-color: #F4F5F8;
}

.ilv-position-relative {
  position: relative;
}

.ilv-top-50 {
  top: 50%;
}

.ilv-transform-translate {
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.ilv-max-height-300 {
  max-height: 300px;
}

.ilv-width-auto {
  width: auto;
}

.ilv-col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.ilv-border-1-px-solid {
  border: 1px solid gray;
}

.ilv-object-fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.ilv-max-height {
  max-height: 145px;
}

.ilv-margin-media {
  margin: 0px 5px 0 5px;
}

.ie-img-thumb {
  border: 4px solid #ebedf2;
  border-radius: 4px;
  width: 40px !important;
  height: auto;
}

.ie-verical-border-left {
  border-left: 1px solid #ebedf2;
}

.ilv-input-append-btn-primary:hover {
  cursor: pointer;
}

.ilv-input-append-btn-primary .input-group-text {
  background-color: #5867dd !important;
  border-color: #5867dd !important;
}

.ilv-input-append-btn-primary i {
  color: white !important;
}

.ilv-input-append-btn-transparence:hover {
  cursor: pointer;
}

.ilv-input-append-btn-transparence .input-group-text {
  background: transparent !important;
  border: none;
}

.btn {
  font-family: 'Roboto Condensed', sans-serif !important;
}

.form-control {
  height: auto;
}

.m-brand__logo-wrapper img {
  width: 100% !important;
}

