///// left and right button arrangment
.owl-prev, .owl-next {
    z-index: 9;
    top:50%; 
    transform:translateY(-50%); 
    position: absolute;
    background-color: transparent;
}

.owl-prev{left:-30px; content:"<";} 
.owl-next{right:-30px; content:">";}

/* slider main */
.slider-main{
    .owl-prev, .owl-next {padding:18px 7px; color:#FFF;  } 
    .owl-nav [class*='owl-']:hover {   color: #FFF;  } 
    .owl-prev{left:0; }
    .owl-next{right:0;}
    .item-slide{       
        height:325px;  
        img{ min-width:100%; min-height:100%; object-fit:cover; }
    }
}

/* slide items  */
.slide-items{
    .owl-prev, .owl-next{top:42%; }
}

.pagination-center{
    .pagination{
        margin: 0 auto;
    }
}