.ie-img-thumb {
    border: 4px solid $border-color;
    border-radius: 4px;
    width: 40px !important;
    height: auto;
}
.ie-verical-border-left {
    border-left: 1px solid $border-color;
}
.ilv-input-append-btn-primary {
    &:hover {
        cursor: pointer;
    }
    .input-group-text {
        background-color: $primary !important;
        border-color: $primary !important;
    }
    i {
        color: white !important;
    }
}
.ilv-input-append-btn-transparence {
    &:hover {
        cursor: pointer;
    }
    .input-group-text {
        background: transparent !important;
        border: none;
    }
}
// Css tạm thời
.btn{
    font-family: 'Roboto Condensed', sans-serif !important;
}
.form-control{
    height:auto;
}
.m-brand__logo-wrapper img{
    width:100% !important;
}