.ilv-draggable {
    min-height: 400px;
    width: 100%;
    padding: 20px;
}
.ilv-media-img-preview {
    border: 1px solid $border-color;
    border-radius: 2px;
    &:hover {
        cursor: pointer;
    }

}
.fixed-height{
    width: 100%;
    height: 300px;
}
.thumb-fixed-height{
    width: 100%;
    height: 83px;
}
.text-dark-inner{
    button{
        color: black;
    }
}
.custom-d-none{
    display:none;
}
.inner-d-none{
    .fa-check{
        display: none;
    }
}

.custom-input{
    width: 200px !important;
}

.ilv-media-img-thumb {
    position: relative;
    width: 145px;
    height: 145px;
    padding: 5px;
    background-color: $border-color;
    border: 1px solid $border-color;
    border-radius: 2px;
    display: inline-block;
    &:hover {
        cursor: pointer;
        background-color: $fill-color;
    }
    overflow: hidden;
    .ilv-chkbox {
        display: inline-block;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.29);
        position: absolute;
        top: 0px;
        right: 1px;
        color: #848484;
        background: #ffffff;
        line-height: 1;
        border-radius: 50%;
        cursor: pointer;
        .ilv-size{
            font-size: 1.3em ;
        }
    } 
}
.ilv-media-img-active {
    border: 4px solid $primary;
    border-radius: 4px;
}
.ilv-dragging {
    background-color: $primary;
    color: whitesmoke;
    .ilv-media-browse {
        display: none;
    }
    .ilv-media-upload-icon {
        display: block;
    }
}
.ilv-media-upload-icon {
    display: none;
}

.ilv-modal {
    position: fixed;
    z-index: 99999999999999999999999;
    .ilv-modal-overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100vw;
        z-index: 99999999999999999999999;
        background-color: rgb(32, 32, 32);
        opacity: 0.8;
    }
    .ilv-modal-content {
        position: fixed;
        z-index: 999999999999999999999999;
        top: 50px;
        left: 50%;
        height: 90vh;
        max-height: 90vh;
        overflow: auto;
        width: 90vw;
        transform: translate(-50%, 0);
        border-radius: 2px;
        background-color: $fill-color;
        .m-portlet__body {
            min-height: 100% !important;
        }
    }
}

.nav-link:hover {
    cursor: pointer;
}
.ilv-fill {
    background-color: $fill-color;
}
.ilv-position-relative{
    position: relative;
}
.ilv-top-50{
    top:50%;
}
.ilv-transform-translate{
    transform:translate(0,-50%);
}
.ilv-max-height-300{
    max-height:300px;
}
.ilv-width-auto{
    width:auto;
}
.ilv-col-6{
    flex:0 0 50%;
}
.ilv-border-1-px-solid{
    border: 1px solid gray;
}
.ilv-object-fit-cover{
    object-fit:cover;
}
.ilv-max-height{
    max-height:145px;
}
.ilv-margin-media{
    margin: 0px 5px 0 5px
}