.ie-search-dropdown {

}
.ie-search-var-item {
    &:hover {
        cursor: pointer;
        background-color: $hover-background;
    }
    img {
        border: 4px solid $border-color;
        border-radius: 4px;
    }
}
.ie-search-var-wrapper {
    max-height: 500px;
    overflow-y: auto;
}
.ie-search-close {
    background-color: $fill-color;
    &:hover {
        cursor: pointer;
    }
}
.ie-off {
    display: none;
}