/* --------------------- titles ---------------------- */
.section-heading{ margin-bottom:20px; margin-top: 10px;}
.title-section{padding-right:15px; }
.title-text{ margin-bottom:20px;margin-top:30px;}
.title-category{margin:0; padding: 1rem 1rem; }
.title-bg{padding:7px 15px; color:#fff;}

.font-title{font-family:$font-title;}

.text-lg{font-size:125%;}
.word-limit{
    height:40px;
    line-height:20px;
}
/* ==================  title element ================ */
.heading-line{position: relative;
	.title-section{
		position: relative;
		display: inline-block;
		padding-right: 15px;
		background-color: inherit;
		z-index: 2;
	}
}
.heading-line::before {
    top: 43%;
    border-top-style: solid;
    content: "";
    position: absolute;
    left: auto;
    right: 0;
    width: 100%;
    height: 0;
    border: 3px solid #E9EAEF;
    overflow: hidden;
}

.b{font-weight:600;}

.white{color:#fff}
.black, .dark{color:#000}

/* ==================  title helpers ================ */
.rtl{direction:rtl;}
.ltr{direction:ltr;}


.lh-sm{line-height: 1.2;}
.lh-lg{line-height: 1.6;}
