/* ================== PAGE DETAILS ==================  */
.gallery-wrap {
    .img-big-wrap {
        margin-bottom: 10px;
        overflow: hidden;
        background-color: #fff;

        // height:450px; 
        a {
            text-align: center;
            display: block;
        }

        img {
            height: 450px;
            display: inline-block;
            cursor: zoom-in;
        }
    }

    .img-small-wrap {
        text-align: center;

        .item-gallery {
            width: 60px;
            height: 60px;
            border: 1px solid #ddd;
            margin: 7px 2px;
            display: inline-block;
            overflow: hidden;
        }

        img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 4px;
            cursor: zoom-in;

            &:hover {
                filter: brightness(1.1);
                cursor: zoom-in
            }
        }
    }

}
